
<div layout="column" layout-align="center center" style="min-height:100vh; height:initial;">
  <div layout="column" layout-align="center center" flex="40">
    <md-card class="container">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Log In</span>
          <span class="md-subhead">(This login screen is for demonstration only... just pick a username, enter 'password' and click <b>"Log in"</b>)</span>
        </md-card-title-text>
      </md-card-title>
      
      <hr>
      
      <md-card-content>
        <div>
          <label for="username">Username:</label>
          <select class="form-control" name="username" id="username"
          ng-model="$ctrl.credentials.username" ng-options="username for username in $ctrl.usernames"></select>
          <i style="position: relative; bottom: 1.8em; margin-left: 10em; height: 0"
          ng-hide="$ctrl.credentials.username" class="fa fa-arrow-left bounce-horizontal"> Choose </i>
        </div>
        
        <br>

        <div>
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password" ng-model="$ctrl.credentials.password">
          <i style="position: relative; bottom: 1.8em; margin-left: 5em; height: 0"
          ng-hide="!$ctrl.credentials.username || $ctrl.credentials.password == 'password'" class="fa fa-arrow-left bounce-horizontal">
          Enter '<b>password</b>' here
          </i>
        </div>

        <div ng-show="$ctrl.errorMessage" class="well error">{{ $ctrl.errorMessage }}</div>

        <hr>
        
        <div>
          <button class="btn btn-primary" type="button"
          ng-disabled="$ctrl.authenticating" ng-click="$ctrl.login($ctrl.credentials)">
          <i class="fa fa-spin fa-spinner" ng-show="$ctrl.authenticating"></i> <span>Log in</span>
          </button>
          <i ng-show="$ctrl.credentials.username && $ctrl.credentials.password == 'password'" style="position: relative;" class="fa fa-arrow-left bounce-horizontal"> Click Me!</i>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>